<div class="hero-unit">
	<h1>booksta</h1>
	<p>
		Release your own written stories, novels etc. into the wild!
	</p>
</div>
<div class="row">
	<div class="span6">
		<h2>The newest Books:</h2>
		<ul>
			<% @newBooks.each do |book|%>
			<li><h2><%= link_to book.title, book %></h2></li>
			<% end %>
		</ul>
	</div>
	<div class="span6">
		<h2>The newest Users:</h2>
		<ul>
			<% @newUsers.each do |user|%>
			<li><h2><%= link_to user.username, user %></h2></li>
			<% end %>
		</ul>
	</div>
</div>