<div class="page-header">
	<h1>F.A.Q.</h1>
</div>
<h2>Was ist das hier?</h2>
<p>
	"Das hier" ist eine Seite, auf der du deine selbstgeschriebenen Geschichten (Books) veröffentlichen kannst. Sei es eine Kurzgeschichte oder ein großer Roman... der richtige Ort dafür ist Bookster!
</p>
<h2>Und wieso sollte ich das tun?</h2>
<p>
	Weil du somit deine eigenen Ideen mit der ganzen Welt freigeben und teilen kannst!
</p>
<h2>Und was kostet das?</h2>
<p>
	Für dich: rein gar nichts!
</p>