<div class="page-header">
	<h1>F.A.Q.</h1>
</div>
<h2>What's this?</h2>
<p>
	"this" is a page where you can release your own selfwritten storys. They can be a shortstory, a novel or whatever!
</p>
<h2>Why should i do that?</h2>
<p>
	Because you can share your own ideas with the whole world!
</p>
<h2>Why did you implement this?</h2>
<p>
	Because I was quite bored one day
</p>